* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 8rem;
  border-bottom: .1rem solid #ECF0F1;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

header h2 {
  font-size: clamp(4rem, 5vw, 6rem);
  font-weight: 800;
  color: #17202A ;
  text-align: center;
}

.card {
  width: clamp(30rem, 50vw, 70rem);
  min-height: 5rem;
  height: auto;
  position: relative;
  background-color: #FDFEFE ;
  border: .1rem solid #ECF0F1;
  border-radius: .8rem;
  padding: 2.5rem;
  margin: 0rem auto;
  margin-bottom: 2rem;
  box-shadow: .8rem .8rem 1.5rem #F7F9F9;
  transition: all 0.2s;
}
.card:hover {
  box-shadow: .2rem .2rem .5rem #F7F9F9;
}

.card-about h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card-about p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card-about ul {
  list-style-type: circle;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card ul li{
  margin-bottom: .4rem;
}



.feedback-form-group {
  height: 4rem;
  position: relative;
}

.feedback-form-group input[type=text] {
  width: 100%;
  height: 4rem;
  border: .15rem solid #B3B6B7;
  border-radius: 3rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: all .2s;
  margin-bottom: .2rem;
}

.feedback-form-group input[type=text]:focus {
  background-color: white;
  outline: .15rem solid #B3B6B7;
}

.form-validation-warning {
  color: #FF7F50;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.btn-submit {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 6.5rem;
  height: 3rem;
  color: white;
  background-color: #4169E1;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  transition: all 0.2s;
}


.btn-submit:hover {
  background-color: #001E3C;
}

.btn-submot:disabled,
.btn-submit[disabled]{
  background-color: #7393B3;
}


.feedback-stats {
  width: clamp(30rem, 50vw, 70rem);
  height: 6rem;
  border-radius: .8rem;
  background-color: #ECF0F1;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  margin: 0rem auto;
  margin-bottom: 2rem;
}

.card .feedback-rating {
position: absolute;
top: -0.8rem;
left: -0.8rem;
width: 2.5rem;
height: 2.5rem;
font-size: 1.2rem;
font-weight: 600;
background-color: #DFFF00;
border-radius: 50%;
display: grid;
place-items: center;
}

.card .feedback-text {
  font-size: 1.4rem;
}

.close-icon {
  font-size: 1.3em;
  color: #D0D3D4;
  position: absolute;
  top: .2rem;
  right: .2rem;
  cursor: pointer;
  transition: all .2s;
}
.close-icon:hover {
  color: #B3B6B7;
}
.edit-icon {
  font-size: 1.3em;
  color: #D0D3D4;
  position: absolute;
  top: .2rem;
  right: 2rem;
  cursor: pointer;
  transition: all .2s;
}
.edit-icon:hover {
  color: #B3B6B7;
}

.question-icon-container {
  width: clamp(2.5rem, 3vw, 3rem);
  height: clamp(2.5rem, 3vw, 3rem);
  background-color: #001E3C;
  border-radius: 50%;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  display: grid;
  place-items: center;
}

.question-icon {
  font-size: 1.6rem;
  color: #ECF0F1;
  transition: all 0.2s;
}

.question-icon:hover {
  color: white;
}

.btn {
  cursor: pointer;
}

.btn-home {
  width: 6rem;
  height: 3rem;
  color: white;
  background-color: #4169E1;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  transition: all 0.2s;
}
.btn-home:hover {
  background-color: #001E3C;
}


.rating {
  width: 100%;
  height: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem auto 2rem auto;
}

.rating input[type=radio] {
  width: 0;
  height: 0;
  opacity: 0;
}

.rating li {
  height: 3rem;
  width: 2rem;
  position: relative;
  text-align: center;
}

.rating label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  background-color: #ECF0F1;
  border: .2rem solid #ECF0F1;
  border-radius: 50%;
  cursor: pointer;
}

.rating input[type="radio"]:checked + label {
  background-color: #DFFF00;
  border: .2rem solid #DFFF00;
  font-weight: bold;
}




@media (max-width: 900px) {  
  .rating label {
    font-size: 1rem;
    border-radius: 50%;
    padding: .5rem 1rem;
  }
}